{% extends 'base.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Calendar</h1>
        {{ include('calendar/_form.html.twig', {'button_label': 'Créer'}) }}
        <a href="{{ path('calendar_index') }}">back to list</a>
    </div>
{% endblock %}
