{% extends 'base.html.twig' %}

{% block title %}Calendify!{% endblock %}

    {% block stylesheets %}
        <style>
            #calendar{
                width: 80%;
                margin: auto;
            }
        </style>
    {% endblock %}

{% block body %}
    <div class="container mt5 pt-6" style="padding-top: 60px;">

        <div class="row">
            <div class="col col-md-3">
                <div class="mt5 pt-6" id="profile">

                        <div class="col-auto">
                            <a href="/calendar/new"  class="btn btn-danger mb-3">Ajouter un évènement</a>
                        </div>

                    <div class="events-list">
                        <ul class="list-group">

                            {% for event in calendars %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{event.title}}
                                    <span class="badge bg-primary rounded-pill"><a class="btn btn-default" href="#">Edit</a></span>
                                    <span class="badge bg-primary rounded-pill"><a class="btn btn-default" href="#">Edit</a></span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col col-md-9">
                <div id="calendar">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
 <script>

     console.log({{ events | raw }})
     window.onload = () => {
     let calendarElt = document.querySelector("#calendar")

     let calendar = new FullCalendar.Calendar(calendarElt, {
         initialView: 'dayGridMonth',
         locale: 'fr',
         timeZone: 'Europe/Paris',
         events: {{ events|raw }},
         headerToolbar: {
         start: 'prev,next today',
         center: 'title',
         end: 'dayGridMonth,timeGridWeek',

            }
 })

     calendar.render()
 }
 </script>

 {% endblock %}
