{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <style>
        body {
            overflow-x: hidden;
        }

        .hero {
            background-color: bisque;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hero img {
            max-height: 300px;
        }

        .contact {
            background-color: rgba(233, 150, 122,0.6);
        }

        footer {
            background-color: darksalmon;
            color: #fff;
        }
    </style>
    {% endblock %}

    {% block body %}
    <div class="row hero p-5 py-8">
        <div class="col-xs-12 col-md-6">
            <h1>Calendify</h1>

            <p class="mt-4 mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, cumque repellendus ut architecto enim commodi molestiae reiciendis voluptates inventore! Nobis enim ab magnam harum in commodi impedit reiciendis facilis pariatur!</p>

        </div>

        <div class="col-xs-12 col-md-6 text-right">
            <img src="{{ asset('assets/images/3235814.png') }}" alt="calendify" class="img-fluid">
        </div>
    </div>

    <div class="contact">
        <div class="row py-5">
            <div class="col col-md-8 offset-md-2">
                <h2 class="text-center">Nous contacter</h2>
                <form action="">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Nous laisser un commentaire</label>
                        <textarea name="message" id="" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Envoyer" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="row py-4">
        <div class="container">
            <div class="col-12 text-center">
                Copyright &copy; Calendify 2021.
            </div>
        </div>
    </footer>

        {#  <div class="footer" id="footer">
            <div class="container">
                <div class="row">

                    <div class="col">
                        <h1> CALENDIFY</h1>
                       <p>Lorem
                       </p>
                        <a href="#" class="btn btn"></a>
                    </div>
                </div>
                <div class="row">
                        <h3> NOUS CONTACTER</h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Vos commentaires</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        <button type="button" class="btn btn-secondary">Envoyer</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->
    <footer>
        <div class="footer-bottom">
            <div class="container">

                <p class="pull-left"> Copyright © Footer CALENDIFY.com 2021. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-amex"></i></li>
                        <li><i class="fa fa-cc-paypal"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>#}
        <!--/.footer-bottom-->

{% endblock %}

