{% extends 'base.html.twig' %}





{% block title %} Navigateur {% endblock %}

{% block stylesheets %}
    <link href="headers.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{%  endblock %}

{% block body %}

{#    <div class="b-example-divider"></div>#}

    <div class="b-example-divider"></div>

    <div class="dropdown text-end">
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>

    <main class="container-fluid mt-4 pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
            <div class="bg-light border rounded-3">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="bg-light border rounded-3">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </main>

    <div class="b-example-divider"></div>

{% endblock %}
