
<div class="contactCreate">


    <div class="contactCreateFormular">

        {{ form_start(form) }}
            {{ form_row(form.namecomplet) }}
            {{ form_row(form.telephone) }}
            <button type="submit">Créer</button>
        {{ form_end(form) }}

    </div>
</div>